@import url("https://fonts.googleapis.com/css2?family=ABeeZee:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-abeezee: ABeeZee;
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-5xs-1: 7.1px;
  --font-size-9xs-7: 3.7px;
  --font-size-10xs-6: 2.6px;
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-23xl: 42px;
  --font-size-6xl: 25px;
  --font-size-15xl: 34px;
  --font-size-4xs-5: 8.5px;
  --font-size-2xs-3: 10.3px;

  /* Colors */
  --color-gray-100: #1e293b;
  --color-gray-200: #101010;
  --color-gray-300: #0f0b1e;
  --color-gray-400: #0a0a0a;
  --color-gray-500: #040404;
  --color-lightsteelblue-100: #a7b2c9;
  --color-lightsteelblue-200: rgba(167, 178, 201, 0.1);
  --white: #fff;
  --color-lightslategray: rgba(141, 134, 179, 0);
  --color-thistle: #d3cbff;
  --color-darkslategray-100: #444;
  --color-darkslategray-200: #334155;
  --color-slategray: #64748b;
  --color-blueviolet: #7d2df3;
  --color-darkslateblue-100: #424267;
  --color-darkslateblue-200: rgba(66, 66, 103, 0.1);
  --color-mediumorchid: #c375ff;
  --color-aliceblue: #e2e8f0;

  /* Gaps */
  --gap-26xl: 45px;
  --gap-3xl: 22px;
  --gap-39xl: 58px;
  --gap-10xl: 29px;
  --gap-24xl: 43px;
  --gap-2xl: 21px;
  --gap-lg-2: 18.2px;
  --gap-9xs: 4px;
  --gap-xl-2: 20.2px;
  --gap-5xs: 8px;
  --gap-xl: 20px;
  --gap-lg: 18px;
  --gap-3xs: 10px;
  --gap-7xs: 6px;
  --gap-21xl: 40px;
  --gap-4xs-5: 8.5px;
  --gap-7xl: 26px;
  --gap-11xl: 30px;
  --gap-mini: 15px;
  --gap-144xl-5: 163.5px;
  --gap-22xl: 41px;
  --gap-63xl: 82px;
  --gap-9xl: 28px;
  --gap-89xl: 108px;
  --gap-35xl: 54px;
  --gap-8xl: 27px;
  --gap-20xl: 39px;
  --gap-lgi: 19px;
  --gap-sm: 14px;
  --gap-smi: 13px;
  --gap-sm-5: 13.5px;
  --gap-4xl: 23px;
  --gap-base: 16px;
  --gap-2xl-2: 21.2px;
  --gap-28xl: 47px;
  --gap-8xl-3: 27.3px;

  /* Paddings */
  --padding-11xl: 30px;
  --padding-11xs: 2px;
  --padding-xl-8: 20.8px;
  --padding-base-8: 16.8px;
  --padding-xs-5: 11.5px;
  --padding-10xs: 3px;
  --padding-4xs-5: 8.5px;
  --padding-13xl: 32px;
  --padding-46xl: 65px;
  --padding-36xl-7: 55.7px;
  --padding-2xl: 21px;
  --padding-17xl: 36px;
  --padding-11xs-3: 1.3px;
  --padding-3xs: 10px;
  --padding-134xl: 153px;
  --padding-57xl: 76px;
  --padding-139xl: 158px;
  --padding-142xl: 161px;
  --padding-61xl: 80px;
  --padding-60xl: 79px;
  --padding-170xl: 189px;
  --padding-75xl: 94px;
  --padding-183xl: 202px;
  --padding-184xl: 203px;
  --padding-82xl: 101px;
  --padding-xs: 12px;
  --padding-4xl: 23px;
  --padding-8xl: 27px;
  --padding-3xl: 22px;
  --padding-7xl: 26px;
  --padding-14xl: 33px;
  --padding-8xs: 5px;
  --padding-10xl: 29px;
  --padding-6xl: 25px;
  --padding-18xl: 37px;
  --padding-9xl: 28px;
  --padding-xl: 20px;
  --padding-38xl: 57px;
  --padding-7xs: 6px;
  --padding-mid: 17px;
  --padding-25xl: 44px;
  --padding-64xl: 83px;
  --padding-35xl: 54px;
  --padding-smi: 13px;
  --padding-5xl: 24px;
  --padding-6xs: 7px;
  --padding-12xs: 1px;
  --padding-base: 16px;
  --padding-2xs: 11px;
  --padding-mini: 15px;
  --padding-7xs-9: 5.9px;
  --padding-9xs: 4px;
  --padding-sm: 14px;
  --padding-8xs-5: 4.5px;
  --padding-mid-1: 17.1px;
  --padding-6xs-8: 6.8px;
  --padding-11xs-8: 1.8px;

  /* Border radiuses */
  --br-xl-9: 20.9px;
  --br-7xs-5: 5.5px;
  --br-sm-7: 13.7px;
  --br-9xs: 4px;
  --br-8xs: 5px;
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-62xl: 81px;
  --br-4xs-6: 8.6px;
  --br-4xs-5: 8.5px;
  --br-66xl-5: 85.5px;
}
